.alphabet-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.alphabet-nav > div {
  display: flex;
  align-items: center;
}

.alphabet-nav h3 {
  margin-right: 30px;
}

.alphabet-nav button {
  padding: 5px 10px;
  margin: 0 2px;
  background-color: #e9ecef;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.alphabet-nav button:hover {
  background-color: #d6d8db;
}
