:root {
  --primary-color: #008080;
  --secondary-color: #ffffff;
  --dark-color: #000000;
  --ligh-color: #808080;
  --max-width: 1200px;
}

body {
  margin: 0px;
}

.main-navbar {
  height: 200px;
}

nav {
  background-color: #6495ED;
  color: var(--secondary-color);
  margin: 3px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-radius: 5px;
  width: 98%;
}

.container {
  padding: 0 20px;
  display: flex;
  width: 100%;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding: 10px;

}

a {
  text-decoration: none;
  color: white;
}